# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MyZooEmulator.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\black\RiderProjects\MyZooEmulator\.idea\.idea.MyZooEmulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
